{"file_name":"10-enable-container-use-devices-sebool.yaml", "folder":"openshift", "content":"LS0tCmFwaVZlcnNpb246IG1hY2hpbmVjb25maWd1cmF0aW9uLm9wZW5zaGlmdC5pby92MQpraW5kOiBNYWNoaW5lQ29uZmlnCm1ldGFkYXRhOgogIGxhYmVsczoKICAgIG1hY2hpbmVjb25maWd1cmF0aW9uLm9wZW5zaGlmdC5pby9yb2xlOiB3b3JrZXIKICBuYW1lOiAwMC1lbmFibGUtc2V0c2Vib29sCnNwZWM6CiAgY29uZmlnOgogICAgaWduaXRpb246CiAgICAgIHZlcnNpb246IDMuMi4wCiAgICBzeXN0ZW1kOgogICAgICB1bml0czoKICAgICAgICAtIG5hbWU6IHNldHNlYm9vbC5zZXJ2aWNlCiAgICAgICAgICBlbmFibGVkOiB0cnVlCiAgICAgICAgICBjb250ZW50czogfAogICAgICAgICAgICBbVW5pdF0KICAgICAgICAgICAgQmVmb3JlPWt1YmVsZXQuc2VydmljZQogICAgICAgICAgICBbU2VydmljZV0KICAgICAgICAgICAgVHlwZT1vbmVzaG90CiAgICAgICAgICAgIEV4ZWNTdGFydD1zZXRzZWJvb2wgY29udGFpbmVyX3VzZV9kZXZpY2VzIHRydWUKICAgICAgICAgICAgUmVtYWluQWZ0ZXJFeGl0PXllcwogICAgICAgICAgICBbSW5zdGFsbF0KICAgICAgICAgICAgV2FudGVkQnk9bXVsdGktdXNlci50YXJnZXQK"}