{"name":"{{okd_cluster_name}}_infra-env",
"pull_secret":"{\"auths\":{\"fake\":{\"auth\":\"aWQ6cGFzcwo=\"}}}",
"cluster_id":"{{okd_cluster_id}}",
"openshift_version":"4.13",
"cpu_architecture":"x86_64",
"ssh_authorized_key":"{{vm_ssh_public_key}}",
"additional_trust_bundle":"",
"image_type":"minimal-iso"
}