{"name":"{{okd_cluster_name}}",
"high_availability_mode":"None",
"openshift_version":"4.13",
"pull_secret":"{\"auths\":{\"fake\":{\"auth\":\"aWQ6cGFzcwo=\"}}}",
"base_dns_domain":"{{okd_base_domain}}",
"cpu_architecture":"x86_64",
"disk_encryption":{"mode":"tpmv2","enable_on":"none"},
"ssh_public_key":"{{vm_ssh_public_key}}"
}